@{
    ViewBag.Title = "Index";
    ViewBag.serverLoc = "http://localhost:54557";
}

<div class="cd-section" id="headers">
    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('/Content/assets/img/d_casa_oliver.jpg');">
            <div class="container-fluid">

                <div class="container" style="padding:15px;margin:0px;width:auto; padding-top: 40vh;">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="card card-raised card-form-horizontal">
                                <div class="content">
                                    <form method="post" action="#">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-static">
                                                    <label class="control-label">
                                                        Where's your luxury retreat?
                                                    </label>
                                                    <select class="select form-control" placeholder="Select a destination">
                                                        <option disabled selected class="disabled">Select a destination</option>
                                                        <option value="BAHAMAS">BAHAMAS </option>
                                                        <option value="MIAMI">MIAMI </option>
                                                        <option value="LOS ANGELES">LOS ANGELES </option>
                                                        <option value="LAS VEGAS">LAS VEGAS </option>
                                                        <option value="FRENCH RIVIERA">FRENCH RIVIERA </option>
                                                        <option value="GREEK ISLANDS">GREEK ISLANDS </option>
                                                        <option value="IBIZA">IBIZA </option>
                                                        <option value="NEW ENGLAND">NEW ENGLAND </option>
                                                        <option value="HAMPTONS">HAMPTONS </option>
                                                        <option value="PALM SPRINGS">PALM SPRINGS </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Check in</label>
                                                    <input type="text" class="form-control StartDate" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Check out</label>
                                                    <input type="text" class="EndDate form-control" value="10/10/2016">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group is-empty">
                                                    <input type="number" value="" placeholder="Guests" class="form-control">
                                                    <span class="material-input"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-info btn-block">Search</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-4 hide">
                            <h4>
                                <b style="color:white;text-shadow: 1px 1px 1px black;">Top destinations: </b>
                                <a href="/vacation-rentals/caribbean/st-martin/" style="color:white;text-shadow: 1px 1px 1px black;text-decoration: underline;">St. Martin</a>,
                                <a href="/vacation-rentals/caribbean/barbados/" style="color:white;text-shadow: 1px 1px 1px black;text-decoration: underline;">Barbados</a>,
                                <a href="/vacation-rentals/hawaii/maui/" style="color:white;text-shadow: 1px 1px 1px black;text-decoration: underline;">Maui</a>,
                                <a href="/vacation-rentals/california" style="color:white;text-shadow: 1px 1px 1px black;text-decoration: underline;">California</a>.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .doubleshow .text-left * {
        text-align: center !important;
    }
    .card-block-promo{
        background:transparent;box-shadow: 0 0 0 ;z-index:100;margin-top:25vh;
    }
</style>
<div class="cd-section" id="features">
    <div class="container">
        <!--     *********     FEATURES 1      *********      -->
        <div style="text-align:center">
            <div class="row">
                <div class="col-md-4">
                    <div class="info" style="padding:40px;">
                        <div class="icon icon-info">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="50px" height="50px" viewBox="0 0 95.17 86.168" style="enable-background:new 0 0 95.17 86.168;"
                                 xml:space="preserve">
                                <image style="overflow:visible;" width="120" height="360" xlink:href="/Content/assets/img/iBrandPromise.png" transform="matrix(1 0 0 1 -11.8726 -16.855)"></image>
                            </svg>
                        </div>
                        <h4 class="info-title">@ViewBag.servicePanel1H.MetaText</h4>
                        <p>@ViewBag.servicePanel1B.MetaText</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info" style="padding:40px;">
                        <div class="icon icon-success">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="50px" height="50px" viewBox="0 0 106.971 78.454" style="enable-background:new 0 0 106.971 78.454;"
                                 xml:space="preserve">
                            <image style="overflow:visible;" width="120" height="360" xlink:href="/Content/assets/img/iBrandPromise.png" transform="matrix(1 0 0 1 -7.0332 -140.9824)"></image>
                            </svg>
                        </div>
                        <h4 class="info-title">@ViewBag.servicePanel2H.MetaText</h4>
                        <p>@ViewBag.servicePanel2B.MetaText</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info" style="padding:40px;">
                        <div class="icon icon-danger">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="50px" height="50px" viewBox="0 0 106.135 80" style="enable-background:new 0 0 106.135 80;" xml:space="preserve">
                            <image style="overflow:visible;" width="120" height="360" xlink:href="/Content/assets/img/iBrandPromise.png" transform="matrix(1 0 0 1 -6.9507 -259.8774)"></image>
                            </svg>
                        </div>
                        <h4 class="info-title">@ViewBag.servicePanel3H.MetaText</h4>
                        <p>@ViewBag.servicePanel3B.MetaText</p>
                    </div>
                </div>
            </div>
        </div>
        <!--     *********    END FEATURES 1      *********      -->
    </div>
</div>
<div class="cd-section" id="blogs">

    <div class="header-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner doubleshow">
                    <div class="item active">
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_new800x660.jpg');height:90vh;">
                                <div class="card card-block-promo" style="">
                                    <div class="content">
                                        <a href="#pablo">
                                            <h2 class="card-title" style="text-transform:uppercase; color:#fff;">
                                                Special Offer
                                            </h2>
                                        </a>
                                        <p class="card-description" style="color:#fff;">
                                            Special Offers on villas
                                        </p>
                                        <br />
                                        <a href="#pablo" class="label label-rose" style="border-radius:0">
                                            View Collection
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_promotion800x660.jpg');height:90vh;">
                                <div class="card card-block-promo" >
                                    <div class="content">
                                        <a href="#pablo">
                                            <h2 class="card-title" style="text-transform:uppercase; color:#fff;">
                                                Beachfront
                                            </h2>
                                        </a>
                                        <p class="card-description" style="color:#fff;">
                                            Beachfront vacation rentals steps from the sand
                                        </p>
                                        <br />
                                        <a href="#pablo" class="label label-rose" style="border-radius:0">
                                            View Collection
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_promotion800x660.jpg');height:90vh;">
                                <div class="card card-block-promo">
                                    <div class="content">
                                        <a href="#pablo">
                                            <h2 class="card-title" style="text-transform:uppercase; color:#fff;">
                                                Beachfront
                                            </h2>
                                        </a>
                                        <p class="card-description" style="color:#fff;">
                                            Beachfront vacation rentals steps from the sand
                                        </p>
                                        <br />
                                        <a href="#pablo" class="label label-rose" style="border-radius:0">
                                            View Collection
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_new800x660.jpg');height:90vh;">
                                <div class="card card-block-promo">
                                    <div class="content">
                                        <a href="#pablo">
                                            <h2 class="card-title" style="text-transform:uppercase; color:#fff;">
                                                City Sites
                                            </h2>
                                        </a>
                                        <p class="card-description" style="color:#fff;">
                                            City Sites Description
                                        </p>
                                        <br />
                                        <a href="#pablo" class="label label-rose" style="border-radius:0">
                                            View Collection
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_new800x660.jpg');height:90vh;">
                                <div class="card card-block-promo">
                                    <div class="content">
                                        <a href="#pablo">
                                            <h2 class="card-title" style="text-transform:uppercase; color:#fff;">
                                                City Sites Description
                                            </h2>
                                        </a>
                                        <p class="card-description" style="color:#fff;">
                                            Beachfront vacation rentals steps from the sand
                                        </p>
                                        <br />
                                        <a href="#pablo" class="label label-rose" style="border-radius:0">
                                            View Collection
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" style="padding:0;">
                            <div class="page-header header-filter" style="background-image: url('//resources.luxuryretreats.com/www/images/vr5/home_col_new800x660.jpg');height:90vh;">
                                <div class="card card-block-promo" style="">
                                    <div class="content">
                                        <a href="#pablo">
                                            <h2 class="card-title" style="text-transform:uppercase; color:#fff;">
                                                Special Offer
                                            </h2>
                                        </a>
                                        <p class="card-description" style="color:#fff;">
                                            Special Offers on villas
                                        </p>
                                        <br />
                                        <a href="#pablo" class="label label-rose" style="border-radius:0">
                                            View Collection
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="sections.html#carousel-example-generic" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                </a>
                <a class="right carousel-control" href="sections.html#carousel-example-generic" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="cd-section" id="testimonials">
    <!--     *********    TESTIMONIALS 2     *********      -->
    <div class="testimonials-2 section-gray">
        <div class="container">
            <div class="row">
                <div id="carousel-testimonial" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner " role="listbox">
                        <div class="item active">
                            <div class="card card-profile card-plain">
                                <div class="col-md-5">
                                    <div class="card-image" style="    border-radius: 500px;">
                                        <a href="sections.html#pablo">
                                            <img class="img" src="//resources.luxuryretreats.com/www/images/vr5/whatsnewwithuspyramid.png">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7" style="text-align:left;">
                                    <div class="content">
                                        <h3 class="card-title">What’s new with us?</h3>
                                        <h5 class="category text-muted">
                                            You will be assigned a dedicated concierge that will manage your entire stay, from planning to checkout, 24 hours, 7 hours, 7 days a week.
                                        </h5>
                                        <p class="card-description"></p>
                                        <a style="font-weight:bold;" class="text-success" href="/Home/CONCIERGE" target="_blank">Explore</a>
                                        <br />           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control hide" href="sections.html#carousel-testimonial" role="button" data-slide="prev">
                        <i class="material-icons" aria-hidden="true">chevron_left</i>
                    </a>
                    <a class="right carousel-control hide" href="sections.html#carousel-testimonial" role="button" data-slide="next">
                        <i class="material-icons" aria-hidden="true">chevron_right</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END TESTIMONIALS 2      *********      -->
    <!--     *********    TESTIMONIALS 1     *********      -->
</div>
<div class="cd-section" id="teams">

    <div class="features-3" style="padding:80px 0 0 0 ;">

        <div class="row">
            <div class="col-md-12">

                <div class="col-md-12 text-center">
                    <h2 class="title"> Best Options </h2>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <a href="#" target="_blank">
                            <div class="card-image">
                                <img src='@((ViewBag.service1IMG.MetaText == null || ViewBag.service1IMG.MetaText == "") ? ViewBag.serverLoc + "/Content/assets/img/image_placeholder.jpg" : ViewBag.serverLoc + "/uploads/" + ViewBag.service1IMG.MetaText)' />
                            </div>
                        </a>
                        <div class="content">
                            <a href="#" target="_blank">
                                <h4 class="card-title" style="display:inline-block;">@ViewBag.service1H.MetaText</h4>
                            </a>
                            <h3 class="category card-title">@ViewBag.service1SH.MetaText </h3>
                            <p class="card-description">
                                @ViewBag.service1B.MetaText
                            </p>
                            <a class="btn btn-default btn-sm" href="@ViewBag.service1L.MetaText">@ViewBag.service1LN.MetaText</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <a href="#" target="_blank">
                            <div class="card-image">
                                <img src='@((ViewBag.service2IMG.MetaText == null || ViewBag.service2IMG.MetaText == "") ? ViewBag.serverLoc + "/Content/assets/img/image_placeholder.jpg" : ViewBag.serverLoc + "/uploads/" + ViewBag.service2IMG.MetaText)' />
                            </div>
                        </a>
                        <div class="content">
                            <a href="#" target="_blank">
                                <h4 class="card-title" style="display:inline-block;">Best For: @ViewBag.service2H.MetaText</h4>
                            </a>
                            <h3 class="category card-title">@ViewBag.service2SH.MetaText </h3>
                            <p class="card-description">
                                @ViewBag.service2B.MetaText
                            </p>
                            <a class="btn btn-default btn-sm" href="@ViewBag.service2L.MetaText">@ViewBag.service2LN.MetaText</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-plain">
                        <a href="#" target="_blank">
                            <div class="card-image">
                                <img src='@((ViewBag.service3IMG.MetaText == null || ViewBag.service3IMG.MetaText == "") ? ViewBag.serverLoc + "/Content/assets/img/image_placeholder.jpg" : ViewBag.serverLoc + "/uploads/" + ViewBag.service3IMG.MetaText)' />
                            </div>
                        </a>
                        <div class="content">
                            <a href="#" target="_blank">
                                <h4 class="card-title" style="display:inline-block;">Best For: @ViewBag.service3H.MetaText</h4>
                            </a>
                            <h3 class="category card-title">@ViewBag.service3SH.MetaText </h3>
                            <p class="card-description">
                                @ViewBag.service3B.MetaText
                            </p>
                            <a class="btn btn-default btn-sm" href="@ViewBag.service3L.MetaText">@ViewBag.service3LN.MetaText</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cd-section" id="clients">
    <!--     *********    TESTIMONIALS 2     *********      -->
    <div class="testimonials-2 section-gray">
        <div class="container">
            <div class="row">
                <div id="carousel-testimonial2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="col-md-4 col-md-offset-4">
                                <div class="card card-testimonial">
                                    <div class="icon">
                                        <i class="material-icons">format_quote</i>
                                    </div>
                                    <div class="content">
                                        <h5 class="card-description">                                            
                                            STAY TMG and BOOK NOW!
                                        </h5>
                                    </div>

                                    <div class="footer">
                                        <h4 class="card-title">Cesar Garcia David</h4>
                                        <h6 class="category">CEO</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control hide" href="#carousel-testimonial2" role="button" data-slide="prev">
                        <i class="material-icons" aria-hidden="true">chevron_left</i>
                    </a>
                    <a class="right carousel-control hide" href="#carousel-testimonial2" role="button" data-slide="next">
                        <i class="material-icons" aria-hidden="true">chevron_right</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END TESTIMONIALS 2      *********      -->
    <!--     *********    TESTIMONIALS 1     *********      -->
</div>

<div class="cd-section" id="contactus">
    <!--     *********    CONTACT US 1     *********      -->
    <div class="contactus-1 section-image" style="background-image: url('/Content/assets/img/examples/city.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="hide">
                        <h2 class="title">Get in Touch</h2>
                        <h5 class="description">You need more information? Check what other persons are saying about our product. They are very happy with their purchase.</h5>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Find us at the office</h4>
                                <p>
                                    Bld Mihail Kogalniceanu, nr. 8,<br>
                                    7652 Bucharest,<br>
                                    Romania
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Give us a ring</h4>
                                <p>
                                    Michael Jordan<br>
                                    +40 762 321 762<br>
                                    Mon - Fri, 8:00-22:00
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="card card-contact">
                        <form role="form" id="contact-form" method="post">
                            <div class="header header-raised header-primary text-center">
                                <h4 class="card-title">Contact Us</h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">First name</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Last name</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">Email address</label>
                                    <input type="email" name="email" class="form-control" />
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-static">
                                            <label class="control-label">I would like to go to...</label>
                                            <select class="select form-control" placeholder="Select a destination">
                                                <option disabled selected class="disabled">Select a destination</option>
                                                <option value="BAHAMAS">BAHAMAS </option>
                                                <option value="MIAMI">MIAMI </option>
                                                <option value="LOS ANGELES">LOS ANGELES </option>
                                                <option value="LAS VEGAS">LAS VEGAS </option>
                                                <option value="FRENCH RIVIERA">FRENCH RIVIERA </option>
                                                <option value="GREEK ISLANDS">GREEK ISLANDS </option>
                                                <option value="IBIZA">IBIZA </option>
                                                <option value="NEW ENGLAND">NEW ENGLAND </option>
                                                <option value="HAMPTONS">HAMPTONS </option>
                                                <option value="PALM SPRINGS">PALM SPRINGS </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-static">
                                            <label class="control-label">In the month of...</label>
                                            <select class="select form-control" placeholder="Travel Dates TBC">
                                                <option selected class="disabled">Travel Dates TBC</option>
                                                <option value="1">January</option>
                                                <option value="1">February</option>
                                                <option value="1">March</option>
                                                <option value="1">April</option>
                                                <option value="1">May</option>
                                                <option value="1">June</option>
                                                <option value="1">July</option>
                                                <option value="1">August</option>
                                                <option value="1">September</option>
                                                <option value="1">October</option>
                                                <option value="1">November</option>
                                                <option value="1">December</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group label-static">
                                    <label class="control-label">What's the occasion?</label>
                                    <textarea name="message" class="form-control" id="message" placeholder="Tell us a little bit about what you're looking for." rows="6"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox hide">
                                            <label>
                                                <input type="checkbox" name="optionsCheckboxes">
                                                I'm not a robot
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END CONTACT US 1      *********      -->
</div>
<div class="cd-section">

    <div class="subscribe-line section-gray subscribe-line-image ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="title">Want More From The Maruca Group</h4>
                    <p class="description">
                        Get exclusive offers straight to your inbox:
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="card card-plain card-form-horizontal">
                        <div class="content">
                            <form method="post" action="/">
                                <div class="row">
                                    <div class="col-sm-8">

                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons" style="color:white;">mail</i>
                                            </span>
                                            <div class="form-group is-empty"><input type="email" style="color:white;" value="" placeholder="Your Email..." class="form-control"><span class="material-input"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-rose btn-block">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.StartDate').datetimepicker({
                format: 'MM/DD/YYYY',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove',
                    inline: true
                }
            });
            $('.EndDate').datetimepicker({
                format: 'MM/DD/YYYY',
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-chevron-up",
                    down: "fa fa-chevron-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-screenshot',
                    clear: 'fa fa-trash',
                    close: 'fa fa-remove',
                    inline: true
                }
            });
        });
    </script>
}
