@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MyLayout2.cshtml";
    ViewBag.UploadLocation = RentalsClinet.Helpers.CustomActions.getUploadLocation();  
}
@section headScripts{
    <link href="~/Content/ZoomSlider/bannerscollection_zoominout.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ZoomSlider/text_classes.css" rel="stylesheet" type="text/css">
    <link href="~/Content/ZoomSlider/css3animations.css" rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="~/Content/ZoomSlider/js/jquery.touchSwipe.min.js" type="text/javascript"></script>
    <script src="~/Content/ZoomSlider/js/bannerscollection_zoominout.js" type="text/javascript"></script>

    <script>
        
        jQuery(function() {
            jQuery("#bannerscollection_zoominout_1").bannerscollection_zoominout({				
                skin:"generous",
                width:1920,
                height:600,
                width100Proc:true,
                height100Proc:true,
                responsive:true,
                responsiveRelativeToBrowser:true,
                setAsBg:false,
                autoPlay:11,
                loop:true,
                fadeSlides:true,
                horizontalPosition:"center",
                verticalPosition:"center",
                initialZoom:1,
                finalZoom:0.8,
                duration:20,
                durationIEfix:30,
                zoomEasing:"ease",
                target:"_blank",
                pauseOnMouseOver:false,
                showAllControllers:true,
                showNavArrows:true,
                showOnInitNavArrows:true,
                autoHideNavArrows:true,
                showBottomNav:true,
                showOnInitBottomNav:true,
                autoHideBottomNav:true,
                showPreviewThumbs:true,
                enableTouchScreen:true,
                absUrl:"",
                scrollSlideDuration:0.8,
                scrollSlideEasing:"swing",
                defaultEasing:"swing",
                myloaderTime:1,
                showCircleTimer:true,
                circleRadius:13,
                circleLineWidth:2,
                circleColor:"#ffffff",
                circleAlpha:100,
                behindCircleColor:"##ffffff",
                behindCircleAlpha:20,
                numberOfThumbsPerScreen:0,
                thumbsWrapperMarginTop:-110,
                thumbsOnMarginTop:10,
                defaultExitLeft:0,
                defaultExitTop:0,
                defaultExitFade:1,
                defaultExitDuration:0,
                defaultExitDelay:0,
                defaultExitEasing:"swing",
                defaultExitOFF:true			
            });
        });
    </script>
}
<style>
    .contentHolderUnit img{
        width:100% !important;
        height:100% !important;
        left:0 !important;
    }
    .contentHolderVisibleWrapper{
        background-position: center center;
        background-size: cover;
    }
    .gm-style {
        font-size: inherit;
        font-family: inherit;
    }

        .gm-style .ol-attribution {
            bottom: 1em;
        }

            .gm-style .ol-attribution.ol-logo-only {
                bottom: 1em;
            }

    #map {
        margin: 5px auto;
        border: 1px solid #CDD7EE;
        border-radius: 5px;
        width: 1102px;
        padding: 5px;
        padding-bottom: 5px;
        max-height: 625px;
        min-height: 620px;
    }

    section #map {
        margin: 5px auto;
        margin-left: 25px;
        border: 1px solid #CDD7EE;
        border-radius: 5px;
        width: 1050px;
        height: 620px;
    }

    #wrapper-map {
        width: 1114px;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
    }

    #content section {
        width: 1105px;
        display: inline-block;
    }


    .ol-scale-line {
        background: #95b9e6;
        bottom: 5px;
        left: 75px;
    }

    #customSkinMap {
        height: 100%;
    }
    .roomdetailsIcon > li.active > a {
        background-color: transparent !important;
        color: black !important;
        box-shadow: 0 0 0 !important;
    }

    .roomdetailsIcon > li > a svg {
        display: block;
    }

    .roomdetailsIcon.amenities > li > a {
        padding: 25px 50px;
    }
</style>

@model CustomModels.PropertyModels.PropertyView
           
    <div class="page-header header-filter clear-filter" style="background: rgba(0, 0, 0, 0.4); height: 40vh; min-height: 50vh;">
        <div class="container" style="padding-top: 15vh;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="text-align: center;">
                    <div class="brand">
                        <h1 style="text-shadow: 2px 3px 6px #222;">
                            @Model.Name
                        </h1>
                        <h3 class="visible-lg visible-md">
                            <i class="material-icons">location_on</i>
                            @Html.Raw(Model.StreetName) @Model.CityName, @Model.Country
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 100vh;">
        <div id="bannerscollection_zoominout_1" style="">
            <div class="myloader"></div>
            <ul class="bannerscollection_zoominout_list">
                @foreach (string t in Model.imageList)
                {
                    <li data-text-id="" data-video="false" data-zoomeasing=""
                        data-bottom-thumb="@ViewBag.UploadLocation/@t" data-link="" data-target=""
                        data-horizontalposition="center" data-verticalposition="center"
                        data-initialzoom="0.9" data-finalzoom="1" data-duration="">
                        <img src="@ViewBag.UploadLocation/@t" style="width:100%;height:100vh;" alt="" />
                    </li>
                }
            </ul>
        </div>
    </div>
<div class="container-fluid section-light-gray">

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="title">
                    @Model.Name
                </h2>
                <h4 class="title" style="font-weight: 100;">
                    @Model.Name, @Model.CityName, @Model.Country
                    <br />
                    Sleeps @Model.MaxGuests:  $@(Model.night) / night
                </h4>
                <ul class="nav nav-pills nav-pills-icons roomdetailsIcon" role="tablist">
                    <!--
                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                    -->
                    <li>
                        <a href="index.html#dashboard-1" role="tab" data-toggle="tab">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="50px" height="50px" viewBox="0 0 50 50" style="enable-background: new 0 0 50 50;" xml:space="preserve">
                                <image style="overflow: visible;" width="50" height="1000" xlink:href="/Content/icons2.png" transform="matrix(1.0124 0 0 1.0124 0 0)"></image>
                            </svg>
                            @Model.Bedrooms - Bedrooms
                        </a>
                    </li>
                    <li>
                        <a href="#" role="tab" data-toggle="tab">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="50px" height="50px" viewBox="0 50 50 50" style="enable-background: new 0 0 50 50;" xml:space="preserve">
                                <image style="overflow: visible;" width="50" height="1000" xlink:href="/Content/icons2.png" transform="matrix(1.0124 0 0 1.0124 0 0)"></image>
                            </svg>
                            @Model.Bathrooms - Bathrooms
                        </a>
                    </li>
                </ul>
                <h4 class="title" style="font-weight: 100;">
                    @Html.Raw(Model.Description.Length < 300 ? Model.Description : Model.Description.Substring(0, 300))&hellip; 
                    <br />
                    <a href="#details_property" class="text-info" style="color: #00bcd4;">
                        Read More
                    </a>
                </h4>

            </div>
            <div class="col-md-5 col-md-offset-2">

                <div class="card card-contact" style="margin-top:8%;">
                    <form role="form"  method="post">
                        <div class="header header-raised header-primary text-center hide">
                            <div class="card-title">
                                <div class="row text">
                                    <div class="pull-left" style="padding-left: 5%;">starting from</div>
                                    <div class="pull-right" style="padding-right: 5%;">per night</div>
                                </div>
                                <div class="price h3" style="font-weight: bold; margin: 0;">
                                    <span>$</span>@(Model.night)
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h5 class="title">Book Villa Now</h5>
                            <div class="col-md-12">
                                <div class="form-group label-floating hide">
                                    <label class="control-label"></label>
                                    <input type="text" id="config-demo" class="form-control hide">
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-12">
                                        <h6>Check In &rarr; Check Out</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label" for="from">Check In</label>
                                            <input type="text" id="from" class="form-control" name="bmodel.from">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label" for="to">Check Out</label>
                                            <input type="text" id="to" class="form-control" name="bmodel.to">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>House Keeping</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 0;">
                                            <label class="control-label" for="to">Days</label>
                                            <select name="bmodel.hk.d" class="form-control days" placeholder="Days">
                                                @for (var i = 0; i <= 1; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 0;">
                                            <label class="control-label" for="to">Hours</label>
                                            <select name="bmodel.hk.h" class="form-control" placeholder="Hours/Day">
                                                @for (var i = 4; i <= 10; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h6>Private Chief</h6>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 0;">
                                            <label class="control-label" for="to">Days</label>
                                            <select name="bmodel.pc.d" class="form-control days" placeholder="Days">
                                                @for (var i = 0; i <= 1; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 0;">
                                            <label class="control-label" for="to">Hours</label>
                                            <select name="bmodel.pc.h" class="form-control" placeholder="Hours/Day">
                                                @for (var i = 4; i <= 10; i++)
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <button type="submit" class="btn btn-block btn-success">Book Now</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid section-dark">
    <div class="">
        <div class="row" style="color: #fff;">
            <div class="col-md-5 col-md-offset-1">
                <h3>
                    Rates
                </h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr class="">
                            <th>Season Name:</th>
                            <th>Date Range:</th>
                            <th>Nightly Rate:</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var r in Model.rates)
                        {
                            <tr class="rate">
                                <td>@(r.SeasonName ?? "")</td>
                                <td class="DateRange">@r.sd.ToString("MMM. dd") - @r.ed.ToString("MMM. dd")</td>
                                <td class="NightlyRate">
                                    USD @r.price
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-4 col-md-offset-1">

                <div class="card card-contact" style="margin-top: 8%;">
                    <form role="form" id="contact-form" method="post">
                        <div class="header header-raised header-primary text-center">
                            <div class="card-title">
                                <div class="row text">
                                    <div class="pull-left" style="padding-left: 5%;">starting from</div>
                                    <div class="pull-right" style="padding-right: 5%;">per night</div>
                                </div>
                                <div class="price h3" style="font-weight: bold; margin: 0;">
                                    <span>$</span>@(Model.night)
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">First name</label>
                                        <input type="text" name="model.firstname" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Last name</label>
                                        <input type="text" name="model.lastname" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone</label>
                                        <input type="tel" name="model.tel" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email</label>
                                        <input type="email" name="model.email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Start Date</label>
                                        <input type="text" name="model.startdate" class="StartDate form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">End Date</label>
                                        <input type="text" name="model.enddate" class="EndDate form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Number of Persons</label>
                                        <input type="number" min="1" name="model.guests" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Your message</label>
                                <textarea name="model.message" class="form-control" id="message" rows="6"></textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-primary pull-right">Send Message</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container" style="padding:50px 20px;">
        <div class="row">
            <h2 class="title">Amenities</h2>
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-pills nav-pills-icons roomdetailsIcon amenities" role="tablist">
                    <!--
                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                    -->
                    <li class="hide">
                        <a href="index.html#dashboard-1" role="tab" data-toggle="tab">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="60px" height="60px" viewBox="0 120 45 45" style="enable-background:new 0 0 40.009 41;" xml:space="preserve">
                            <image style="overflow:visible;" width="45" height="2000" xlink:href="/Content/amenities_sprite.png" transform="matrix(1.0002 0 0 1.0002 0 0)"></image>
                            </svg>
                            Bedrooms
                        </a>
                    </li>
                    @foreach (var a in Model.amenitiesList)
                    {
                        <li>
                            <a href="#">@a</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid section-light-gray">
    <div class="container" id="details_property" style="padding:50px 20px;">
        <div class="row">
            <h2 class="title">Description</h2>
            <div class="col-md-10 col-md-offset-1 title" style="font-size: 17px; font-weight: 100;">
                @{ 
                    var str = Model.Description;
                    string[] strList = str.Split(new string[] { "\n","\r" },StringSplitOptions.RemoveEmptyEntries);
                    str = String.Join("<br />", strList);
                }
                @Html.Raw(str)
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="account-container">
        <div id="wrapper-map">
            <div id="content">
                <section>
                    <div id="map" class="map"></div>
                </section>
            </div>
        </div>
    </div>
</div>
<style>
    td.highlight, table.ui-datepicker-calendar tbody td.highlight a { 
        background: none !important;
        background-color: #fffac2 !important; 
        color: #FF0000;
    }
</style>
<script>
    
    
    $(document).ready(function() {
        debugger;
        //CustomMap(@Model.Logitude, @Model.Latitude);
        JQueryDateRange();

    });
    function JQueryDateRange() {
        var dateFormat = "mm/dd/yy",
            from = $( "#from" )
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2,
                    beforeShowDay: function(date) {
                        
                        var str = jQuery.datepicker.formatDate('yy-mm-dd', date);
                        var rates = "@Newtonsoft.Json.JsonConvert.SerializeObject(Model.rates)";
                        if (rates != undefined && rates != null && rates !== "") {
                            rates = JSON.parse(rates.split("&quot;").join("\""));
                        }
                        
                        var bookingsList = "@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.bookingsList)";
                        if (bookingsList != undefined && bookingsList != null && bookingsList !== "") {
                            bookingsList = JSON.parse(bookingsList.split("&quot;").join("\""));
                        }

                        for (var r in bookingsList) {
                            debugger;
                            var sd = bookingsList[r].sd.split("T")[0].split("-");
                            sd = sd.join("-");
                            
                            var ed = bookingsList[r].ed.split("T")[0].split("-");
                            ed = ed.join("-");

                            if (str >= sd && str <= ed) {
                                return [false,"danger","Already Booked"];
                            }
                        }

                        debugger;
                        
                        var curDate = moment();
                        if (moment(date).isBefore(curDate, 'day')) {
                            var arr = [];
                            arr.push(false);
                            arr.push("");
                            arr.push("Cannot Select This Date");
                            return arr;
                        }


                        for (var r in rates) {
                            var sd = rates[r].sd.split("T")[0].split("-");
                            sd[0] = jQuery.datepicker.formatDate('yy', date);
                            sd = sd.join("-");
                            
                            var ed = rates[r].ed.split("T")[0].split("-");
                            ed[0] = jQuery.datepicker.formatDate('yy', date);
                            ed = ed.join("-");

                            if (str >= sd && str <= ed) {
                                return [true,"special","$"+rates[r].price+" - "+rates[r].SeasonName];
                            }
                        }


                        var arr = [];
                        arr.push(true);
                        arr.push("");
                        arr.push("$@Model.night");
                        return arr;
                    }
                })
                .on( "change", function() {
                    to.datepicker( "option", "minDate", getDate( this ) );
                }),
            to = $( "#to" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2
                })
                .on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                    var toDate = to.val().split("/");
                    toDate = new Date(toDate[2],toDate[0]-1,toDate[1]);

                    var fromDate = from.val().split("/");
                    fromDate = new Date(fromDate[2],fromDate[0]-1,fromDate[1]);

                    var days = (toDate - fromDate) / 86400000;
                    var optionDaysStr = "";
                    for (var i = 0; i <= days; i++) {
                        optionDaysStr += '<option value=' + i + '>' + i + '</option>';
                    }
                    $(".days").html(optionDaysStr);
                    debugger;
                });
 
        function getDate( element ) {
            var date;
            try {
                date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
                date = null;
            }
 
            return date;
        }
    }
    function myMap() {
        CustomMap(@Model.Logitude, @Model.Latitude);
//        CustomMap(32.4690717, 74.39393389999998);
    }
    function CustomMap(longi, lati) {
        //debugger;
        var myLatlng = new google.maps.LatLng(lati, longi);
        var mapOptions = {
            zoom: 15,
            center: myLatlng,
            scrollwheel: true,
            //we disable de scroll over the map, it is a really annoing when you scroll through page
            disableDefaultUI: true, // a way to quickly hide all controls
            zoomControl: true,
            styles: [
                {
                    "featureType": "water",
                    "stylers": [{ "saturation": 43 }, { "lightness": -11 }, { "hue": "#0088ff" }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry.fill",
                    "stylers": [{ "hue": "#ff0000" }, { "saturation": -100 }, { "lightness": 99 }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry.stroke",
                    "stylers": [{ "color": "#808080" }, { "lightness": 54 }]
                }, {
                    "featureType": "landscape.man_made",
                    "elementType": "geometry.fill",
                    "stylers": [{ "color": "#ece2d9" }]
                }, {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [{ "color": "#ccdca1" }]
                },
                { "featureType": "road", "elementType": "labels.text.fill", "stylers": [{ "color": "#767676" }] },
                { "featureType": "road", "elementType": "labels.text.stroke", "stylers": [{ "color": "#ffffff" }] },
                { "featureType": "poi", "stylers": [{ "visibility": "off" }] },
                {
                    "featureType": "landscape.natural",
                    "elementType": "geometry.fill",
                    "stylers": [{ "visibility": "on" }, { "color": "#b8cb93" }]
                }, { "featureType": "poi.park", "stylers": [{ "visibility": "on" }] },
                { "featureType": "poi.sports_complex", "stylers": [{ "visibility": "on" }] },
                { "featureType": "poi.medical", "stylers": [{ "visibility": "on" }] },
                { "featureType": "poi.business", "stylers": [{ "visibility": "simplified" }] }
            ]

        }

        var map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            title: "Property Map"
        });

        marker.setMap(map);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC96Hx9IMfAglwiP9RkQn5cVi4MZKiC5LA&callback=myMap">
</script>

<script src="/Content/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script>
    var flag = false;
    $(document).ready(function() {
        $('#config-demo').focus(function() {
            if (flag == false) {
                flag = true;
                $('#config-demo').daterangepicker({
                    "minDate": new Date(),
                    "opens": "center",
                    isInvalidDate: function(date) {
                        //debugger;
                        var rangeDates = [];
                        @foreach (var d in Model.rates)
                        {
                            @:rangeDates.push({start : '@d.sd.ToString()', end : '@d.ed.ToString()' });
                        }
                        var curDate = new Date(date.format("MM/DD/YY"));
                        var found = false;
                        for (var x in rangeDates) {
                            var start = new Date(rangeDates[x].start.substr(0, 6) + curDate.getUTCFullYear());
                            var end = new Date(rangeDates[x].end.substr(0, 6) + curDate.getUTCFullYear());
                            if (curDate >= start && curDate <= end) {
                                found = true;
                                break;
                            }

                        }
                        return !found;
                    }
                }, function (start, end, label) {
                    //debugger;

                    var price = @(Model.night);
                    var duration = moment.duration(end.diff(start));
                    var days = Math.ceil(duration.asDays());
                    debugger;
                    $("#calcBill").text(days * price);
                    $("#vcalcBill").val(days * price);
                    $("#startCheckIn").val(start.format('MM-DD-YYYY'));
                    $("#endCheckIn").val(end.format('MM-DD-YYYY'));
                    console.log(days);
                    console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
                });
            }
        });
    });
</script>
@section scripts{



}