@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout2.cshtml";
    ViewBag.UploadLocation = RentalsClinet.Helpers.CustomActions.getUploadLocation();    
}
<style>
    .tag {
        background-color: #cecece;
        cursor: pointer;
        border-radius: 12px;
        margin: 5px 3px 5px 0;
        padding: 5px 12px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 400;
        position: relative;
    }
    .ratings > i {
        font-size: 16px;
    }
    body {
        background: #eee;
    }
     .container.map-part{
             padding-top: 60px;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 97vw;
    width: 97vw;
    padding-left: 1.5vw;
     }
</style>



<div class="cd-section" id="headers">
    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('@(ViewBag.UploadLocation)@(ViewBag.city.banner == null ? "" : ViewBag.city.banner.Replace(" ", "%20"))'); height: 50vh; min-height: 50vh;">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="title">
                                @ViewBag.city.CityName
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space hide"></div>
@model List<CustomModels.PropertyModels.PropertyView>

<style>
    .gm-style {
        font-size: inherit;
        font-family: inherit;
    }

    .gm-style .ol-attribution {
        bottom: 1em;
    }

    .gm-style .ol-attribution.ol-logo-only {
        bottom: 1em;
    }

    #map {
        margin: 0;
        border: 0px solid #CDD7EE;
        border-radius: 0px;
        width: 97vw;
        padding: 0px;
        padding-bottom: 0px;
        max-height: 100vh;
        min-height: 100vh;
    }



    section #map {
        margin: 0;
        border: 0;
        width: 98vw;
        height: 100vh;
    }

    #wrapper-map {
        width: 97vw;
        margin: 0;
        background-color: white;
        border-radius: 0;
    }

    #content section {
        width: 97vw;
        display: inline-block;
    }

    .ol-scale-line {
        background: #95b9e6;
        bottom: 5px;
        left: 35px;
    }

    #customSkinMap {
        height: 100vh;
    }
    .gm-style-iw .card-image {
        width: 400px !important;
    }
   .Maplabels {
    /* color: black;
     padding: 4px;
     border: 1px solid black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     text-align: center;
     width: 10px;     
     white-space: nowrap;*/
    overflow: visible !important;
    width: auto !important;
    height: 0 !important;
    margin-left: 0!important;
   }
   .gmnoprint
   .gmnoprint *{
       display:none;
   }
   ._1dyc0dw {
    -webkit-transform: translate(-50%, -31px) !important;
    -ms-transform: translate(-50%, -31px) !important;
    transform: translate(-50%, -31px) !important;
}

._1joivwj {
    position: relative !important;
    display: inline-block !important;
    margin-top: -8px !important;
}
    ._1q8mwr8 {
        bottom: -4px !important;
        left: 50% !important;
        margin-left: -4px !important;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15) !important;
        width: 8px !important;
        height: 8px !important;
        -webkit-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        position: absolute !important;
    }
    ._13nx4oo {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #222222 !important;
    font-weight: 700 !important;
    background-color: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !important;
    border-radius: 2px !important;
    padding: 4px 5px 4px 6px !important;
    position: relative !important;
}
    ._qtix31 {
    display: table !important;
}
    ._ni9axhe {
    display: table-cell !important;
    vertical-align: middle !important;
}
    ._ni9axhe {
    display: table-cell !important;
    vertical-align: middle !important;
}
    ._qtix31 {
    display: table !important;
}
    ._mmb1j9 {
    border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    bottom: -4px !important;
    left: 50% !important;
    margin-left: -4px !important;
    background-color: #ffffff !important;
    width: 8px !important;
    height: 8px !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    position: absolute !important;
}
</style>

<div class="container map-part" style="">
<div class="row">
    <div class="nav-align-center">
        <ul class="nav nav-pills nav-pills-icons" role="tablist">
            <li class="active">
                <a href="#work" role="tab" data-toggle="tab">
                    <i class="material-icons">dashboard</i>
                    City View
                </a>
            </li>
            <li>
                <a href="#connections" id="mapLinkShow" role="tab" data-toggle="tab">
                    <i class="material-icons">location_on</i>
                    Map View
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div class="tab-pane active work" id="work">
        <div class="content" style="min-height:100vh;">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var property in Model)
                    {
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card property_box" propertyid="@property.PropertyId" price="$@property.night" title="@property.Name" longitude="@property.Logitude" latitude="@property.Latitude">
                            <div class="card-actions hide pull-right" style="position: absolute; right: 5%; top: 5%; color: #555; z-index: 10;">
                                <div class="stats" style="padding: 10px; border-radius: 500px; font-size: 32px; background: #ccc;">
                                    <i class="material-icons" style="font-size: 32px;">favorite</i>
                                </div>
                            </div>
                            <div class="card-image" style="width: 100%; margin: 0;" onclick="location.href = '/Destinations/Detail?id=@property.PropertyId'">
                                <a href="/Destinations/Detail?id=@property.PropertyId">
                                    <img class="img" src="@ViewBag.UploadLocation/@property.banner">
                                    <div class="card-title">
                                        @property.Name
                                    </div>
                                </a>
                            </div>
                            <div class="content" style="padding: 15px;">
                                <h6 class="category text-muted" style="margin: 0; height: 5ch;">@property.SubName</h6>
                                <h5 class="card-title" style="margin: 0;">
                                    <a href="/Destinations/Detail?id=@property.PropertyId">
                                        <i class="material-icons">location_on</i>
                                        @property.CityName, @property.Country
                                    </a>
                                </h5>
                                <div class="card-description hide"></div>
                                <div>
                                    <div class="footer" style="margin: 0 6%;border-top: 1px solid #eee;">
                                        <div class="price">
                                            <h4 style="margin: 0; font-weight: bold;">
                                                $@property.night/night
                                            </h4>
                                        </div>
                                        <div class="author" style="float: right; line-height: 30px; color: #999999;">
                                            <a href="#">
                                                <i class="material-icons">group</i>
                                                @property.MaxGuests
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane connections" id="connections">
        <div class="row">
            <div id="account-container">
                <div id="wrapper-map">
                    <div id="content">
                        <section>
                            <div id="map" class="gmap map-boxed card"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
@section scripts{
<script>
    $(document).ready(function() {
        $(".property_box").each(function() {
            $(this).click(function() {
                var id = $(this).attr("propertyId");
                location.href = "/Destinations/Detail?id=" + id;
            });
        });
    });
</script>
}
@section headScripts
{
    @Html.Partial("~/Views/Shared/MapScriptPartial.cshtml")
}
