@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout2.cshtml";
    ViewBag.UploadLocation = RentalsClinet.Helpers.CustomActions.getUploadLocation();    
}
<style>
    .tag {
        background-color: #cecece;
        cursor: pointer;
        border-radius: 12px;
        margin: 5px 3px 5px 0;
        padding: 5px 12px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 400;
        position: relative;
    }
    .ratings > i {
        font-size: 16px;
    }
    body {
        background: #eee;
    }
     
</style>



<div class="cd-section" id="headers">
    <div class="header-2">
        <div class="page-header header-filter" style="background-image: url('@(ViewBag.UploadLocation)@(ViewBag.city.banner == null ? "" : ViewBag.city.banner.Replace(" ", "%20"))'); height: 50vh; min-height: 50vh;">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="title">
                                @ViewBag.city.CityName
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space hide"></div>
@model List<CustomModels.PropertyModels.PropertyView>

<style>
    .gm-style {
        font-size: inherit;
        font-family: inherit;
    }

    .gm-style .ol-attribution {
        bottom: 1em;
    }

    .gm-style .ol-attribution.ol-logo-only {
        bottom: 1em;
    }

    #map {
        margin: 0;
        border: 0px solid #CDD7EE;
        border-radius: 0px;
        width: 100%;
        padding: 0px;
        padding-bottom: 5px;
        max-height: 100vh;
        min-height: 100vh;
    }



    section #map {
        margin: 5px auto;
        margin-left: 0px;
        border: 1px solid #CDD7EE;
        border-radius: 5px;
        width: 100%;
        height: 100vh;
    }

    #wrapper-map {
        width: 100%;
        margin: 0;
        background-color: white;
        border-radius: 5px;
    }

    #content section {
        width: 100%;
        display: inline-block;
    }

    .ol-scale-line {
        background: #95b9e6;
        bottom: 5px;
        left: 35px;
    }

    #customSkinMap {
        height: 100vh;
    }
    .gm-style-iw .card-image {
        width: 400px !important;
    }
</style>

<div class="container" style="padding: 40px; padding-top: 60px; margin: 0; min-height: 100vh; width: 100vw;">
<div class="row">
    <div class="nav-align-center">
        <ul class="nav nav-pills nav-pills-icons" role="tablist">
            <li>
                <a href="#work" role="tab" data-toggle="tab">
                    <i class="material-icons">dashboard</i>
                    City View
                </a>
            </li>
            <li class="active">
                <a href="#connections" role="tab" data-toggle="tab">
                    <i class="material-icons">location_on</i>
                    Map View
                </a>
            </li>
        </ul>

    </div>
</div>

<div class="tab-content">
    <div class="tab-pane work" id="work">

        <div class="content" style="min-height:100vh;">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var property in Model)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card property_box" title="@property.Name" longitude="@property.Logitude" latitude="@property.Latitude">
                                <div class="card-actions hide pull-right" style="position: absolute; right: 5%; top: 5%; color: #555; z-index: 10;">
                                    <div class="stats" style="padding: 10px; border-radius: 500px; font-size: 32px; background: #ccc;">
                                        <i class="material-icons" style="font-size: 32px;">favorite</i>
                                    </div>
                                </div>
                                <div class="card-image" style="width: 100%; margin: 0;" onclick="location.href = '/Destinations/Detail?id=@property.PropertyId'">
                                    <a href="/Destinations/Detail?id=@property.PropertyId">
                                        <img class="img" src="@ViewBag.UploadLocation/@property.banner">
                                        <div class="card-title">
                                            @property.Name
                                        </div>
                                    </a>
                                </div>
                                <div class="content" style="padding: 15px;">
                                    <h6 class="category text-muted" style="margin: 0; height: 5ch;">@property.SubName</h6>
                                    <h5 class="card-title" style="margin: 0;">
                                        <a href="/Destinations/Detail?id=@property.PropertyId">
                                            <i class="material-icons">location_on</i>
                                            @property.CityName, @property.Country
                                        </a>
                                    </h5>
                                    <div class="card-description hide"></div>
                                    <div>
                                        <div class="footer" style="margin: 0 6%;border-top: 1px solid #eee;">
                                            <div class="price">
                                                <h4 style="margin: 0; font-weight: bold;">
                                                    $@property.night/night
                                                </h4>
                                            </div>
                                            <div class="author" style="float: right; line-height: 30px; color: #999999;">
                                                <a href="#">
                                                    <i class="material-icons">group</i>
                                                    @property.MaxGuests
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane active connections" id="connections">
        <div class="row">
            <div id="account-container">
                <div id="wrapper-map">
                    <div id="content">
                        <section>
                            <div id="map" class="gmap map-boxed card"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    @section scripts{
        <script>
            $(document).ready(function() {
                $(".property_box").each(function() {
                    $(this).click(function() {
                        var id = $(this).attr("propertyId");
                        location.href = "/Destinations/Detail?id=" + id;
                    });
                });
            });
        </script>
    }
    @section headScripts
{

        <script>
            $(document).ready(function () {
                debugger;

            });
            function myMap() {
                CustomMap(32.4690717, 74.39393389999998);
            }
            function CustomMap(longi, lati) {
                debugger;
                var myLatlng = new google.maps.LatLng(@ViewBag.city.latitude, @ViewBag.city.longitude);
                var mapOptions = {
                    zoom: 13,
                    center: myLatlng,
                    scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page

                    // Styling of the map in JSON object
                    styles: [{ "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{ "color": "#444444" }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "color": "#f2f2f2" }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "elementType": "all", "stylers": [{ "saturation": -100 }, { "lightness": 45 }] }, { "featureType": "road.highway", "elementType": "all", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#cdd2d4" }, { "visibility": "on" }] }]
                };
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                $(".property_box").each(function () {
                    debugger;
                    var lati = parseFloat($(this).attr("latitude"));
                    var longi = parseFloat($(this).attr("longitude"));
                    var title = $(this).attr("title");
                    var latilongi = new google.maps.LatLng(lati, longi);
                    var marker = new google.maps.Marker({
                        dragable: true,
                        position: { lat: lati, lng: longi },
                        title: title
                    });
                    
                    var div = $(this).html();

                    var contentString = div;//$(div).find(".content").css("width", "500px").html();
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                    });

                    marker.setMap(map);

                });


            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC96Hx9IMfAglwiP9RkQn5cVi4MZKiC5LA&callback=myMap">
        </script>

    }
