@{
    ViewBag.Title = "Property Filters";
}
@model List<CustomModels.PropertyModels.PropertyFilters>
<h2>@ViewBag.Title</h2>


<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title">@ViewBag.Title</h4>
        <div class="card-content">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th>Name</th>
                            @foreach(var f in ViewBag.taglist)
                            {
                                <th>@f.TagName</th>
                            }
                        </tr>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prop in Model)
                        {
                            <tr pid="@prop.id">
                                <td class="text-center">@prop.id</td>
                                <td class="tagName">@prop.name</td>
                                @foreach (var f in ViewBag.taglist)
                                {
                                    <td>
                                        <input tag="@f.TagId" type="checkbox"  @(prop.filtersDic[f.TagId] ? "checked=''" : "''") />
                                    </td>
                                }
                                <td>
                                    <button type="button" rel="tooltip" class="btn btn-sm btn-info editTag">
                                        Update
                                    </button>
                                </td>
                            </tr>

                        }                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".editTag").each(function () {
                $(this).click(function () {
                    debugger;
                    var tags = $(this).closest("tr").find("td > input[type=checkbox]");
                    var pid = $(this).closest("tr").attr("pid");
                    try{
                        pid = parseInt(pid);
                    }catch(e){return;}
                    var tagList = [];
                    for (var i = 0; i < tags.length; i++)
                    {
                        if($(tags[i]).is(":checked"))
                        {
                            try{
                                tagList.push(parseInt($(tags[i]).attr("tag")))
                            }catch(e){}
                        }
                    }
                    var settings = {
                        type: "post",
                        data: {
                            list: tagList,
                            id: pid 
                        },
                        traditional: true,
                        url: "/Filters/UpdatePropertyFilters",
                        success: function (data) {
                            alert(data);
                        }
                    }
                    $.ajax(settings);
                });
            });
        });
    </script>
}
